.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_fire_reasons_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_fire_reason_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Fire Reasons
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            Name
          %th.last &nbsp;
        - @reasons.each do |line|
          %tr{:class => cycle("odd", "even")}
            %td
              = line.id
            %td
              = line.name
            %td.last
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_fire_reason_path(line)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_fire_reason_path(line), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @reasons
