.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_fire_reasons_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_fire_reason_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_fire_reason_path(@reason)
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.schedule_statuses.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @reason.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_fire_reason_path(@reason), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_fire_reason_path(@reason), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
