%table{:align => 'center', :width => 160, :style => 'font-size: 9px;text-align: center;'}
  %tr
    %td{:colspan => 3}
      = form_tag(taxi_routes_path, :method => :get) do
        = select_date params[:date], :start_year => 2010, :use_month_numbers => true
        %button.button{:type => "submit"}
          = t("web-app-theme.ok", :default => "OK")
      - if @taxi_route
        = form_tag(taxi_route_path(@taxi_route), :method => :post) do
          = hidden_field_tag('_method', :delete)
          %button.button{:type => "submit"}
            Отменить прокладку маршрута
      - else
        = form_tag(taxi_routes_path(), :method => :post) do
          = hidden_field_tag('taxi_route[traced]', params[:date])
          = hidden_field_tag('back_url', @back_url)
          %button.button{:type => "submit"}
            Маршруты проложены
  - if @excludes.any?
    %tr
      %td{colspan: 3}
        Исключения:
    - @excludes.each do |ex|
      - if ex.subject_type == 'TaxiRoute'
        %tr.alert
          %td{colspan: 2}
            Маршрут
            = ex.body =~ /destroy/ ? "удален" : "составлен"
          %td
            = ex.created_at.to_formatted_s(:time)
      - elsif ScheduleCell.find_by_id(ex.subject_id) and params[:date].to_time == ex.subject.to_time
        %tr
          %td
            = User.find_by_id(ex.author_id).identifier
          %td
            = ex.body =~ /false/ ? "добавлен" : "исключен"
          %td
            = ex.created_at.to_formatted_s(:time)
