.block
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Late Comings
    .inner
      = form_tag(admin_late_comings_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              &nbsp;
            %td
              Department
              = select_tag :department_id, options_for_select(Department.selection_by_admin(current_admin.id), params[:department_id]), { :include_blank => true }
            %td#users_select
              User
              = select_tag :user_id, options_for_select(User.selection_by_admin(current_admin.id, params[:department_id]), params[:user_id]), { :include_blank => true }
            %td
              &nbsp;
            %td
              = check_box_tag :date_from_check, 1, params[:date_from_check]
            %td
              &nbsp;
            %td
              From
              = text_field_tag 'date_from', params[:date_from], :class => 'date_select'
            %td
              &nbsp;
            %td
              = check_box_tag :date_to_check, 1, params[:date_to_check]
            %td
              &nbsp;
            %td
              To
              = text_field_tag 'date_to', params[:date_to], :class => 'date_select'
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        - user = ''
        - @late_comings.each do |late_coming|
          - if user != late_coming.user_full_name
            - user = late_coming.user_full_name
            %tr
              %td{:colspan => 7}
                %h3= user
            %tr
              %th
                = t("activerecord.attributes.admin_event.date", :default => t("activerecord.labels.date", :default => "Date"))
              %th
                = t("activerecord.attributes.admin_shifts.shift", :default => t("activerecord.labels.shift", :default => "Shift"))
              %th
                = t("activerecord.attributes.late_comings.minutes", :default => t("activerecord.labels.minutes", :default => "Late"))
              %th
                = t("activerecord.attributes.shift.worked_min", :default => t("activerecord.labels.worked_min", :default => "Worked"))
              %th
                = t("activerecord.attributes.admin_event.description", :default => t("activerecord.labels.description", :default => "Description"))
              %th
                = t("activerecord.attributes.admin_event.action", :default => t("activerecord.labels.action", :default => ""))
          - unless late_coming.shift.nil? && late_coming.shift.schedule_shift.nil?
            %tr{:class => cycle("odd", "even")}
              %td
                = late_coming.shift.shiftdate
              %td
                = "##{late_coming.shift.number}"
                -#= "##{late_coming.shift.schedule_shift.number} (#{late_coming.shift.schedule_shift.start}:00 - #{late_coming.shift.schedule_shift.end}:00)" if late_coming.shift
              %td
                = (Date.current + late_coming.late_minutes.minutes).strftime("%H hrs %M min")
              %td
                = (Date.current + late_coming.shift.worked_min.minutes).strftime("%H hrs %M min")
              %td
                = late_coming.description
              %td
                \#{link_to "#{t("web-app-theme.delete", :default => "Release")}", admin_late_coming_path(late_coming), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure you would like to release this?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @late_comings
- content_for :sidebar, render(:partial => 'sidebar')
%div.modal#overlay
  %div.contentWrap