%table.table
  %tr
    %th
      = t("activerecord.attributes.admin_self_score.date", :default => t("activerecord.labels.date", :default => "Date"))
    %th
      = t("activerecord.attributes.admin_user.name", :default => t("activerecord.labels.name", :default => "Name"))
    %th
      = t("activerecord.attributes.admin_self_score.score", :default => t("activerecord.labels.rating", :default => "Rating"))
  - @self_scores.each do |line|
    %tr{:class => cycle("odd", "even")}
      %td
        = line.score_date.to_formatted_s(:date)
      %td
        = line.user_full_name
      %td
        = "%.2f" % line.avg_score
