.block
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Processed: By Day Of Week
    .inner
      = form_tag(processed_by_day_of_week_admin_events_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              &nbsp;
            %td
              From
              = text_field_tag 'date_from', params[:date_from], :class => 'date_select'
            %td
              &nbsp;
            %td
              To
              = text_field_tag 'date_to', params[:date_to], :class => 'date_select'
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        - weekday = ''
        - @events.each do |event|
          - if weekday != event.weekday
            - weekday = event.weekday
            %tr
              %td{:colspan => 6}
                %h3= ("2011-07-24".to_time + weekday.day).strftime("%A")
            %tr
              %th
                = t("activerecord.attributes.admin_event.category", :default => t("activerecord.labels.category", :default => "Category"))
              %th
                = t("activerecord.attributes.admin_event.count", :default => t("activerecord.labels.count", :default => "Count"))
          %tr{:class => cycle("odd", "even")}
            %td
              = event.name
            %td
              = event.total
- content_for :sidebar, render(:partial => 'sidebar')
%div.contentWrap