%div{:class => "flash", :style => 'display:none;'}
  %div{:id => "permission_flash", :class => "message error"}
= form_for [:admin, @permission], :remote => true, :html => {:class => 'form', 'data-type' => 'script'} do |f|
  .group
    = f.label :name, t("activerecord.attributes.permission.name", :default => "Name:"), :class => :label
    = f.text_field :name, :class => 'text_field'
  .group.navform.wat-cf
    %button.button{:type => "submit"}
      = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
      = t("web-app-theme.save", :default => "Save")

    %a.button.close{:href => 'javascript:void(0);'}
      = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
      = t("web-app-theme.cancel", :default => "Cancel")
