.group
  = f.label :name, t("activerecord.attributes.department.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
.group
  = f.label :has_identifier, t("activerecord.attributes.department.has_identifier", :default => "Has identifier"), :class => :label
  = f.check_box :has_identifier, :class => 'check_box'
  %span.description Does the members of the department have unique identifiers
.group
  = f.label :has_t_short, t("activerecord.attributes.department.has_t_short", :default => "Has T-shorts"), :class => :label
  = f.check_box :has_t_short, :class => 'check_box'
  %span.description Does the department offer T-shorts
.group
  = f.label :permissions, t("activerecord.attributes.admin.permissions", :default => "Assigned Permissions"), :class => :label
  %br
  - k = 0
  - for  dp in Permission.all
    - k = 0 if (k += 1) == 4
    - if Permission.all.last == dp
      %div{:style => "width:300px"}
        = check_box_tag "permissions[]", "#{dp.id}", @department.permissions.include?(dp)
        = dp.name
    - else
      %div{:style => "width:300px; float:left"}
        = check_box_tag "permissions[]", "#{dp.id}", @department.permissions.include?(dp)
        = dp.name

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + t("web-app-theme.cancel", :default => "Cancel"), admin_departments_path, :class => "button"
