.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_departments_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_department_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Departments
    .inner
      = form_tag(admin_departments_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              = hidden_field_tag 'sort_by', params[:sort_by]
              = hidden_field_tag 'sort_order', params[:sort_order]
      %table.table
        %tr
          %th.first ID
          %th{:sort => 'name', :class => 'sortable'}
            = t("activerecord.attributes.admin_department.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            Admins
          %th{:sort => 'created_at', :class => 'sortable'}
            = t("web-app-theme.created_at", :default => "Created on")
          %th.last &nbsp;
        - @departments.each do |department|
          %tr{:class => cycle("odd", "even")}
            %td
              = department.id
            %td
              = link_to department.name, admin_department_path(department)
            %td
              - department.admins.each do |admin|
                = admin.email
                %br
            %td
              = department.created_at.to_formatted_s(:date_and_time)
            %td.last
              \#{link_to "#{t("web-app-theme.edit", :default => "Logs")}", admin_logs_path(:subject_type => 'Department', :subject_id => department.id)}
              |
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_department_path(department)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_department_path(department)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_department_path(department), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure you would like to delete #{department.name} department?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @departments
- content_for :sidebar, render(:partial => 'sidebar')
