.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_departments_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_department_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_department_path
  .content
    .inner
      %h1
        = @department.name
      %p
        %b
          = t("activerecord.attributes.admin_department.has_identifier", :default => t("activerecord.labels.has_identifier", :default => "Has identifier"))
          \:
        = @department.has_identifier
      %p
        %b
          = t("activerecord.attributes.admin_department.has_events", :default => t("activerecord.labels.has_events", :default => "Has events"))
          \:
        = @department.has_events
      %p
        %b
          = t("activerecord.attributes.admin_department.has_levels", :default => t("activerecord.labels.has_levels", :default => "Has Levels"))
          \:
        = @department.has_levels
      %p
        %b
          = t("activerecord.attributes.admin_department.has_schedule", :default => t("activerecord.labels.has_schedule", :default => "Has Schedule"))
          \:
        = @department.has_schedule
      %p
        %b
          = t("activerecord.attributes.admin_department.has_t_shirt", :default => t("activerecord.labels.has_t_shirt", :default => "Has T-Shirts"))
          \:
        = @department.has_t_shirt
      - if !@department.permissions.empty?
        %p
          %b
            = t("activerecord.attributes.admin_department.permissions", :default => t("activerecord.labels.permissions", :default => "Permissions"))
            \:
          %ul{:style => "margin-left:20px"}
            - @department.permissions.each do |d|
              %li
                = d.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_department_path(@department), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_department_path(@department), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
