.block
  .content
    %div{:style => "float:left"}
      %h2.title
        = t("personnel.user.find_people", :default => "Find People")

    %div{:style => "float:right;margin:20px"}
      = link_to image_tag("web-app-theme/icons/printer.png", :alt => "#{t("web-app-theme.list", :default => "Print List")}") + t("web-app-theme.list", :default => "Print List"), list_user_path, :class => "button"
      = link_to image_tag("web-app-theme/icons/car.png", :alt => "#{"Delivery List"}") + "#{t("personnel.user.delivery-list", :default => "Delivery List")}", delivery_user_path, :class => "button"
    %div{:style => "margin-top:50px"}
      &nbsp;
    .inner
      = form_tag(find_user_path, :method => :get) do
        %table
          %tr
            %td
              ID
              = text_field_tag :identifier, params[:identifier], :class => 'text_field', :style => "width:80px"
            %td
              &nbsp;
            %td
              = t("personnel.user.full_name", :default => "Full Name")
              = text_field_tag :full_name, params[:full_name], :class => 'text_field'
            %td
              &nbsp;
            %td
              = t("personnel.user.department", :default => "Department")
              = select_tag :department_id, options_for_select(Department.selection, params[:department_id]), { :include_blank => true }
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th
          %th= t("personnel.user.identifier", :default => "IDentifier")
          %th= t("personnel.user.full_name", :default => "Full Name")
          %th= t("personnel.contact.cell", :default => "Cell")
          %th= t("personnel.address.title", :default => "Address")
          %th= t("personnel.user.department", :default => "Department")
          %th= t("personnel.profile.birthdate", :default => "BirthDate")
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              = image_tag user.avatar.url(:thumb)
            %td= user.identifier
            %td= user.full_name
            %td
              = user.cell1
              %br
              = user.cell2
              %br
              = user.cell3
            %td= user.full_address
            %td= user.department_name if user.department_id
            %td= l(user.birthdate) if user.birthdate
      .actions-bar.wat-cf
        .actions
        = will_paginate @users
- content_for :sidebar, render(:partial => 'sidebar')
