.block
  .content
    %h2.title
      = t("web-app-theme.find", :default => "Find")
      Users
    .inner
      = form_tag(find_user_path, :method => :get) do
        %table
          %tr
            %td
              By ID
              = text_field_tag :identifier, params[:identifier], :class => 'text_field', :style => "width:80px"
            %td
              &nbsp;
            %td
              Full Name
              = text_field_tag :full_name, params[:full_name], :class => 'text_field'
            %td
              &nbsp;
            %td
              Department
              = select_tag :department_id, options_for_select(Department.selection, params[:department_id]), { :include_blank => true }
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th= t("activerecord.attributes.user.identifier", :default => t("activerecord.labels.identifier", :default => "IDentifier"))
          %th= t("activerecord.attributes.user.full_name", :default => t("activerecord.labels.full_name", :default => "Full Name"))
          %th= t("activerecord.attributes.contact.cell1", :default => t("activerecord.labels.cell1", :default => "Cell"))
          %th= t("activerecord.attributes.contact.address", :default => t("activerecord.labels.address", :default => "Address"))
          %th= t("activerecord.attributes.user.department_id", :default => t("activerecord.labels.department", :default => "Department"))
          %th= t("activerecord.attributes.profile.birthdate", :default => t("activerecord.labels.birthdate", :default => "BirthDate"))
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td= user.identifier
            %td= user.full_name
            %td
              = user.cell1
              %br
              = user.cell2
              %br
              = user.cell3
            %td= user.full_address
            %td= user.department_name if user.department_id
            %td= l(user.birthdate) if user.birthdate
      .actions-bar.wat-cf
        .actions
        = will_paginate @users
- content_for :sidebar, render(:partial => 'sidebar')
