%div.block.notice
  = render 'shared/template_users_show', :layout => false, :template => @template, :users => @users, :admin => false
  %div{:style => 'clear:both;'}
  %br
  %table{:width =>240, :cellpadding => 1, :cellspacing => 1, :style => 'background-color:#bbbbbb;text-align:center'}
    %tr
      %th
        = t("personnel.schedule.legend", :default => "Legend")
      %th
        = t("personnel.schedule.color", :default => "Color")
      %th.last &nbsp;
    - @statuses.each do |status|
      %tr{:class => cycle("odd", "even")}
        %td{:style => 'background-color:#ffffff;width:100%'}
          = status.name
        %td{:style => "background-color:##{status.color};width:100%"}
          &nbsp;