- current_shift = nil
.block
  .content
    .inner.form
      %h2
        = "Edit Your Schedule for #{@template.month}.#{@template.year}"
        %br
        %span.description
          Left click your mouse button on the cell you'd like to put your number in. To remove the number, left click the mouse button again.
      %table.schedule_table
        %tr
          %td
            %ul
              %li.left_part
              - @days_in_month.times do |day|
                %li.header_part
                  = day + 1
      %table.schedule_table
        %tr
          %td
            %ul.schedule_editable
              - @template.schedule_shifts.order(:number).each do |shift|
                - shift.lines.times do |line|
                  - if current_shift.nil? || current_shift != shift.id
                    %li.left_part.first
                      %b
                        - if shift.number == 10
                          DayOff
                        - else
                          \#
                          = shift.number
                          \(
                          = shift.start
                          \-
                          = shift.end
                          \)
                  - else
                    %li.left_part
                  - @days_in_month.times do |day|
                    - cell_wday = Date.parse("#{@template.year}-#{@template.month}-#{day+1}").wday
                    - cell_color_default = (1..5) === cell_wday  ? 'ffffff' : 'FBB999'
                    - cell_color_default = shift.number == 10  ? 'eeeeee' : cell_color_default
                    - cell = shift.schedule_cells.find_by_line_and_day(line+1, day+1)
                    - cell_color = (cell.class == NilClass || !cell.additional_attributes) ? cell_color_default : ScheduleStatus.find_by_id(cell.additional_attributes).color
                    - cell_font_weight = (cell.class != NilClass && (cell.is_modified? || cell.responsible?)) ? 'font-weight:bold;' : ''
                    - cell_font_color = (cell.class != NilClass && cell.responsible?) ? 'color:#' + @shift_leader_color + ';' : '';
                    - cell_excluded = (cell.class != NilClass && cell.exclude) ? 'text-decoration:line-through;' : '';
                    - cell_border = (current_shift.nil? || current_shift != shift.id) ? 'border-top: 2px solid #002134;' : '';
                    %li.cell{:id=>"cell_#{shift.id}_#{line+1}_#{day+1}", :style => 'background-color:#'+cell_color+';'+cell_font_weight+cell_font_color+cell_excluded+cell_border}
                      - identifier = (cell.class == NilClass || !cell.user_id?) ? ' ' : cell.user_id
                      = identifier
                  - current_shift = shift.id
      %div{:style => 'clear:both'}
- content_for :sidebar, render(:partial => 'sidebar')