.block
  .content
    .inner
      %div{:style => 'float:left;padding-left:5px'}
        %table{:cellpadding => 1, :cellspacing => 1, :style => 'background-color:#bbbbbb;text-align:center'}
          %tr
            %td{:style => 'background-color:#ffffff'}
              &nbsp;
            %td
              %table.cell-table{:cellpadding => 1, :cellspacing => 1, :style => 'background-color:#bbbbbb'}
                %tr
                - @days_in_month.times do |day|
                  %td{:style => 'background-color:#eeeeee'}
                    = day + 1
          - @template.schedule_shifts.order(:number).each do |shift|
            %tr
              %td{:style => 'background-color:#eeeeee'}
                %b
                  - if shift.number == 10
                    = t("personnel.schedule.dayoff", :default => "DayOff")

                  - else
                    = t("personnel.schedule.shift", :default => "Shift") #
                    = shift.number
                    %br
                    = shift.start
                    \-
                    = shift.end
              %td{:id => "shift_#{shift.id}"}
                = render 'shared/shift_show', :layout => false, :shift => shift
      %div{:style => 'clear:both'}
- content_for :sidebar, render(:partial => 'sidebar')
