- if addr.primary
  %p
    %b{:style => "color:red;"}
      = t("personnel.address.primary", :default => "Primary Address")
%p
  %b
    = t("personnel.address.street", :default => "Street")
    \:
  = addr.street
%p
  %b
    = t("personnel.address.build", :default => "Building #")
    \:
  = addr[:build]
%p
  %b
    = t("personnel.address.porch", :default => "Porch")
    \:
  = addr.porch
%p
  %b
    = t("personnel.address.nos", :default => "Number of storeys")
    \:
  = addr.nos
%p
  %b
    = t("personnel.address.room", :default => "Apt/Room")
    \:
  = addr.room