.group
  = f.label :last_name, t("activerecord.attributes.profile.last_name", :default => "Last Name"), :class => :label
  = f.text_field :last_name, :class => 'text_field'
  %span.description= t("personnel.Required")
.group
  = f.label :first_name, t("activerecord.attributes.profile.first_name", :default => "First Name"), :class => :label
  = f.text_field :first_name, :class => 'text_field'
  %span.description= t("personnel.Required")
.group
  = f.label :birthdate, t("activerecord.attributes.profile.birthdate", :default => t("activerecord.labels.birthdate", :default => "BirthDate")), :class => :label
  = f.date_select :birthdate, :include_blank => true, :end_year => Time.now.year - 60, :start_year => Time.now.year - 13
- if @user.profile.has_t_short?
  .group
    = f.label :t_short_size, t("activerecord.attributes.profile.t_short_size", :default => "T-Short Size"), :class => :label
    = f.select :t_short_size, Profile.size_selection, :include_blank => true
    %span.description= t("personnel.Required")
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  %a.button{:href => '#', :data => {'cancel-profile' => true}}
    = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
    = t("web-app-theme.cancel", :default => "Cancel")