%p
  %b
    = t("activerecord.attributes.profile.last_name", :default => "Last Name")
    \:
  = @user.profile.last_name
%p
  %b
    = t("activerecord.attributes.profile.first_name", :default => "First Name")
    \:
  = @user.profile.first_name
%p
  %b
    = t("activerecord.attributes.profile.birthdate", :default => "Birthdate")
    \:
  = l(@user.profile.birthdate) unless @user.profile.birthdate.nil?
%p
  %b
    = t("activerecord.attributes.profile.t_short_size", :default => "T-Short Size")
    \:
  = @user.profile.t_short_size