%p
  %b
    = t("personnel.profile.last_name", :default => "Last Name")
    \:
  = @user.profile.last_name
%p
  %b
    = t("personnel.profile.first_name", :default => "First Name")
    \:
  = @user.profile.first_name
%p
  %b
    = t("personnel.profile.birthdate", :default => "Birthdate")
    \:
  = l(@user.profile.birthdate) unless @user.profile.birthdate.nil?
- if @user.profile.has_t_shirt?
  %p
    %b
      = t("personnel.profile.t_shirt_size", :default => "T-Shirt Size")
      \:
    = @user.profile.t_shirt_size