%table.cell-table{:cellpadding => 1, :cellspacing => 1, :style => 'background-color:#bbbbbb'}
  - shift.lines.times do |line|
    %tr
      - @days_in_month.times do |day|
      - cell = shift.schedule_cells.find_by_line_and_day(line+1, day+1)
      - cell_wday = Date.parse("#{@template.year}-#{@template.month}-#{day+1}").wday
      - cell_color_default = (1..5) === cell_wday  ? 'ffffff' : 'FBB999'
      - cell_color_default = shift.number == 10  ? 'eeeeee' : cell_color_default
      - cell_color = (cell.class == NilClass || !cell.additional_attributes) ? cell_color_default : ScheduleStatus.find_by_id(cell.additional_attributes).color
      - cell_font_weight = (cell.class != NilClass && (cell.is_modified? || cell.responsible?)) ? 'font-weight:bold;' : ''
      - cell_font_color = (cell.class != NilClass && cell.responsible?) ? 'color:#' + @shift_leader_color + ';' : '';
      - cell_excluded = (cell.class != NilClass && cell.exclude) ? 'text-decoration:line-through;' : '';
        %td.cells.modal_dialog{:id=>"cell_#{shift.id}_#{line+1}_#{day+1}", :style => 'background-color:#'+cell_color+';'+cell_font_weight+cell_font_color+cell_excluded,
        :href => new_admin_schedule_cell_path(:template_id => @template.id),
        :batch => batch_new_admin_schedule_cells_path(:shift => shift, :line => line+1, :day => day+1)}
          - identifier = (cell.class == NilClass || !cell.user_id?) ? ' ' : cell.user_id
          = identifier