%table{:width =>240, :cellpadding => 5, :cellspacing => 1, :style => 'background-color:#bbbbbb;text-align:center'}
  %tr
    %th.first ID
    %th= t("personnel.user.full_name", :default => "Full Name")
    - if @admin
      %th S
      %th N
      %th Off
      %th Std
  - @users.each do |user|
    %tr
      %td{:style => 'background-color:#ffffff'}= user.identifier
      %td{:style => 'background-color:#ffffff;text-align:left;padding-left:5px', :class => 'user_select link_button', :id => user.identifier}= user.full_name
      - if @admin
        - n = user.norms.find_by_month_and_year(@template.month, @template.year)
        - s = user.work_shifts_count @template.id

        - if n && !n.workdays.nil? && s < n.workdays
          %td{:style => 'background-color:red'}= s
        - else
          %td{:style => 'background-color:#ffffff'}= s

        %td{:style => 'background-color:#ffffff'}= user.work_nights_count @template.id
        %td{:style => 'background-color:#ffffff'}= user.day_off_count @template.id
        %td{:style => 'background-color:#ffffff'}
          - if n && !n.workdays.nil?
            = link_to "#{n.workdays} | #{n.weekend}", user_norms_admin_schedule_template_path(user, :tmpl_id => @template), :class => "modal_dialog"
%p
  %a.button{:href => '#', :id => 'clear_selection'}
    = image_tag("web-app-theme/icons/arrow_rotate_anticlockwise.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
    = t("web-app-theme.cancel", :default => "Clear Selection")
  - if @admin
    = link_to image_tag("web-app-theme/icons/bullet_go.png", :alt => "#{t("web-app-theme.add", :default=> "Set Norms")}") + " " + t("web-app-theme.add", :default=> "Set Norms"),
      default_norms_admin_schedule_template_path(@template), :id => 'set_norms', :class => "button modal_dialog"