= image_tag(@user.avatar.url(:medium))
%p
  %b
    = t("activerecord.attributes.user.active", :default => t("activerecord.labels.active", :default => "Active"))
    \:
    - if @user.active?
      &#10003;
    - else
      \--
%p
  %b
    = t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email"))
    \:
  = @user.email
%p
  %b
    = t("activerecord.attributes.user.department_id", :default => t("activerecord.labels.department_id", :default => "Department"))
    \:
  = @user.department_name if @user.department_id
%p
  %b
    = t("activerecord.attributes.user.identifier", :default => t("activerecord.labels.identifier", :default => "Identifier"))
    \:
  = @user.identifier || '--'