.group
  = f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  %span.description= t("personnel.Z3K email address")
.group
  = f.label :password, t("activerecord.attributes.user.password", :default => "Password"), :class => :label
  = f.password_field :password, :class => 'text_field'
  %span.description= t("personnel.Password")
.group
  = f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation", :default => "Password Confirmation"), :class => :label
  = f.password_field :password_confirmation, :class => 'text_field'
  %span.description= t("personnel.Password Confirmation")