= image_tag(@user.avatar.url(:medium))
%p
  %b
    = t("personnel.user.active", :default => "Active")
    \:
    - if @user.active?
      &#10003;
    - else
      \--
%p
  %b
    = t("personnel.user.email", :default => "Email")
    \:
  = @user.email
%p
  %b
    = t("personnel.user.department", :default => "Department")
    \:
  = @user.department_name if @user.department_id
%p
  %b
    = t("personnel.user.identifier", :default => "Identifier")
    \:
  = @user.identifier || '--'