%div{:class => "flash", :style => 'display:none;'}
  %div{:id => "event_flash", :class => "message error"}
= form_for @event, :remote => true, :html => {:class => 'form', 'data-type' => 'script'} do |f|
  .group
    = f.label :category_id, t("activerecord.attributes.event.category_id", :default => "Category"), :class => :label
    = f.select :category_id, Category.selection(User.find_by_id(current_user.id).department_id)
  .group
    = f.label :description, t("activerecord.attributes.event.description", :default => "Description"), :class => :label
    = f.text_field :description, :class => 'text_field'
  .group.navform.wat-cf
    %button.button{:type => "submit"}
      = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
      = t("web-app-theme.save", :default => "Save")
    %span.text_button_padding= t("web-app-theme.or", :default => "or")
    %a.button.close{:href => 'javascript:void(0);'}
      = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
      = t("web-app-theme.cancel", :default => "Cancel")
