#box
  .block
    %h2 Late Coming
    .content.login
      %div{:class => "flash", :style => 'display:none;'}
        %div{:id => "late_coming_flash", :class => "message error"}
      = form_for @late_coming, :url => create_late_coming_events_path, :html => {:class => 'form login'} do |f|
        .group.wat-cf

        .group.wat-cf
          You are
          %b
            = "#{@late_coming.late_minutes}"
          minutes late. Please input your reason here
          = f.text_field :description, :size => 70
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.start", :default => "Start")}")
            = t("web-app-theme.start", :default => "Start")
          %span.text_button_padding= t("web-app-theme.or", :default => "or")
          %a.button{:href => user_path}
            = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
            = t("web-app-theme.cancel", :default => "Cancel")