.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_admins_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_admin_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      = t("personnel.admin.title", :default => "Admins")
    .inner
      = form_tag(admin_admins_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              = hidden_field_tag 'sort_by', params[:sort_by]
              = hidden_field_tag 'sort_order', params[:sort_order]
      %table.table
        %tr
          %th.first ID
          %th
            =t("personnel.admin.super-user", :default => "Super User")
          %th
            =t("personnel.admin.approved", :default => "Approved")
          %th{:sort => 'email', :class => 'sortable'}
            = t("activerecord.attributes.admin_admin.email", :default => t("activerecord.labels.email", :default => "Email"))
          %th
            =t("personnel.admin.assigned-departments", :default => "Assigned Departments")
          %th{:sort => 'created_at', :class => 'sortable'}
            = t("web-app-theme.created-at", :default => "Created on")
          %th.last &nbsp;
        - @admins.each do |admin|
          %tr{:class => cycle("odd", "even")}
            %td
              = admin.id
            %td
              - if admin.super_user
                &#10003;
            %td
              - if admin.approved
                &#10003;
            %td
              = link_to admin.email, admin_admin_path(admin)
            %td
              - admin.departments.each do |d|
                = d.name
                %br
            %td
              = admin.created_at.to_formatted_s(:date_and_time)
            %td.last
              \#{link_to "#{t("web-app-theme.logs", :default => "Logs")}", admin_logs_path(:author_type => 'Admin', :author_id => admin.id)}
              |
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_admin_path(admin)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_admin_path(admin)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_admin_path(admin), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure you would like to delete #{admin.name} admin?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @admins
- content_for :sidebar, render(:partial => 'sidebar')
