.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_shifts_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_shift_path, :class => 'modal_dialog'
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Shifts
    .inner
      = form_tag(admin_shifts_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              &nbsp;
            %td
              Department
              = select_tag :department_id, options_for_select(Department.selection_by_admin(current_admin.id), params[:department_id]), { :include_blank => true }
            %td
              User
              = select_tag :user_id, options_for_select(User.selection_by_admin(current_admin.id), params[:user_id]), { :include_blank => true }
            %td
              &nbsp;
            %td
              = check_box_tag :date_from_check, 1, params[:date_from_check]
            %td
              &nbsp;
            %td
              From
              = text_field_tag 'date_from', params[:date_from], :class => 'date_select'
            %td
              &nbsp;
            %td
              = check_box_tag :date_to_check, 1, params[:date_to_check]
            %td
              &nbsp;
            %td
              To
              = text_field_tag 'date_to', params[:date_to], :class => 'date_select'
            %td
              &nbsp;
            %td
              per page
              = text_field_tag 'per_page', params[:per_page], :style => "width:30px"
            %td
              &nbsp;
            %td
              = hidden_field_tag 'sort_by', params[:sort_by]
              = hidden_field_tag 'sort_order', params[:sort_order]
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th
            = t("activerecord.attributes.admin_user.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            = t("activerecord.attributes.admin_shift.date", :default => t("activerecord.labels.date", :default => "Date"))
          %th
            \#
          %th
            = t("activerecord.attributes.admin_shift.starttime", :default => t("activerecord.labels.starttime", :default => "Start Time"))
          %th
            = t("activerecord.attributes.admin_shift.endtime", :default => t("activerecord.labels.endtime", :default => "End Time"))
          %th
            = t("activerecord.attributes.admin_shift.worked_min", :default => t("activerecord.labels.worked_min", :default => "Worked"))
          %th
            = t("activerecord.attributes.admin_shift.late_min", :default => t("activerecord.labels.late_min", :default => "Late"))
          %th
            = t("activerecord.attributes.admin_shift.end_earlier", :default => t("activerecord.labels.end_earlier", :default => "End Earlier"))
          %th
            = t("activerecord.attributes.admin_shift.overtime", :default => t("activerecord.labels.overtime", :default => "Overtime"))
          %th
            = t("activerecord.attributes.admin_shift.workout", :default => t("activerecord.labels.workout", :default => "Workout"))
          %th.last &nbsp;
        - @shifts.each do |shift|
          %tr{:class => cycle("odd", "even")}
            %td
              = shift.user_full_name
            %td
              = shift.shiftdate
            %td
              = shift.number
            %td
              = shift.starttime.to_formatted_s(:date_and_time) unless shift.starttime == ''
              = "(#{shift.start_ip})" unless shift.start_ip == ''
            %td
              = shift.endtime.to_formatted_s(:date_and_time) unless shift.endtime == ''
              = "(#{shift.end_ip})" unless shift.end_ip == ''
            %td.green
              = shift.worked_min ? (Date.current + shift.worked_min.minutes).strftime("%H hrs %M min") : "-"
            %td.red
              = shift.late_min ? (Date.current + shift.late_min.minutes).strftime("%H hrs %M min") : "-"
            %td.red
              = shift.end_earlier ? (Date.current + shift.end_earlier.minutes).strftime("%H hrs %M min") : "-"
            %td.green
              = shift.overtime ? (Date.current + shift.overtime.minutes).strftime("%H hrs %M min") : "-"
            %td
              = shift.workout ? (Date.current + shift.workout.minutes).strftime("%H hrs %M min") : "-"
            %td.last
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_shift_path(shift), :class => "modal_dialog"} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_shift_path(shift), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure you would like to delete ##{shift.number} shift?")}"}
        %tr
          %th
            %strong
              Total:
          %th
            \-
          %th
            \-
          %th
            \-
          %th
            \-
          %th.green
            %strong
              = (Date.current + @worked_min.minutes).strftime("%H hrs %M min")
          %th.red
            %strong
              = (Date.current + @late_min.minutes).strftime("%H hrs %M min")
          %th
            \-
          %th.green
            %strong
              = (Date.current + @overtime.minutes).strftime("%H hrs %M min")
          %th.red
            %strong
              = (Date.current + @workout.minutes).strftime("%H hrs %M min")
          %th
            \-
      .actions-bar.wat-cf
        .actions
        = will_paginate @shifts
- content_for :sidebar, render(:partial => 'sidebar')
%div.modal#overlay
  %div.contentWrap