.block
  .content
    %h2.title
      = t("personnel.late_coming.all", :default => "All Late Comings")
    .inner
      = form_tag(late_comings_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              &nbsp;
            %td
              = t("web-app-theme.from", :default => "From")
              = text_field_tag :date_from, params[:date_from], :class => 'date_select'
            %td
              &nbsp;
            %td
              =t("web-app-theme.to", :default => "To")
              = text_field_tag :date_to, params[:date_to], :class => 'date_select'
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th
            = t("activerecord.labels.datetime", :default => "DateTime")
          %th
            = t("activerecord.attributes.admin_event.date", :default => t("activerecord.labels.date", :default => "Date"))
          %th
            = t("personnel.schedule.shift", :default => "Shift")
          %th
            = t("personnel.late_coming.diff_minutes", :default => "Diff Minutes")
          %th
            = t("personnel.shift.worked_min", :default => "Worked")
          %th
            = t("activerecord.labels.description", :default => "Description")
        - @late_comings.each do |late_coming|
          %tr{:class => cycle("odd", "even")}
            %td
              = late_coming.created_at.to_formatted_s(:date_and_time)
            %td
              = late_coming.shift.shiftdate if late_coming.shift
            %td
              = "##{late_coming.shift.schedule_shift.number} (#{late_coming.shift.schedule_shift.start}:00 - #{late_coming.shift.schedule_shift.end}:00)" if late_coming.shift
            %td
              = late_coming.late_minutes
            %td
              = late_coming.shift.worked_min
            %td
              = late_coming.description
      .actions-bar.wat-cf
        .actions
        = will_paginate @late_comings