.group
  = f.label :name, t("activerecord.attributes.category.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
.group
  = f.label :departments, t("personnel.category.assigned-departments", :default => "Assigned Departments"), :class => :label
  - Department.selection.each do |d|
    = check_box_tag "departments[]", d.last, @category.departments.map(&:id).include?(d.last)
    = d.first
    %br
.group
  = f.label :displayed, t("activerecord.attributes.category.displayed", :default => "Display"), :class => :label
  = f.check_box :displayed, :class => 'check_box'
  %span.description check this box to make the category active and visible
.group
  = f.label :display_order, t("activerecord.attributes.category.dispaly_order", :default => "Display Order"), :class => :label
  = f.text_field :display_order, :class => 'text_field'
.group
  = f.label :reported, t("activerecord.attributes.category.reported", :default => "Report"), :class => :label
  = f.check_box :reported, :class => 'check_box'
  %span.description check this box to include the category into reports
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + t("web-app-theme.cancel", :default => "Cancel"), admin_categories_path, :class => "button"
