.block.notice
  %h3 Usage
  .content
    %p
      Left click the mouse button on the cell you need to put the number in and select the user and appropriate status from there.
    %p
      Press and hold Control key to select more than one cell, then left click the mouse button.
    %p
      To paste a part of a schedule, hold Shift key and left click the mouse button on the cell. The schedule will be pasted relative to this cell.
.block.notice
  %h3 Tips
  .content
    %p
      Click on the name of a user to show all the cells with his/her identifier in the schedule.
      %b Clear Selection
      button will allow you to clear this selection.
    %p S – number of working shifts
    %p N - number of night shifts
    %p Off – number of days off
    %p Std – number of standard working shifts and days off
    %p
      %b Set Norms
      button allows you to set the standard number of working shifts and days off. If you need to set different standards for a specific user click on the Std cell next to the corresponding user. Note: this should be done after the norms are set for everyone.
    %p
      If schedule is
      %b Hidden
      , users do not see it. If you need to allow certain users to edit the schedule, select
      %b Editable
      and check the names of users to send invitations to.
      %b Visible
      schedule becomes visible to everyone and is not editable by the users.
  %h3 Users
  .content
    %br
    %div#template_users
      - @admin = true
      = render 'shared/template_users_show', :layout => false
    %div{:style => 'clear:both;'}
    %br
    %table{:width =>240, :cellpadding => 1, :cellspacing => 1, :style => 'background-color:#bbbbbb;text-align:center'}
      %tr
        %th
          = t("personnel.schedule.legend", :default => "Legend")
        %th
          = t("personnel.schedule.color", :default => "Color")
        %th.last &nbsp;
      - @statuses.each do |status|
        %tr{:class => cycle("odd", "even")}
          %td{:style => 'background-color:#ffffff;width:100%'}
            = status.name
          %td{:style => "background-color:##{status.color};width:100%"}
            &nbsp;
    %div{:style => "clear:both"}
.block

