.group
  = f.label :active, t("personnel.user.active", :default => "Active"), :class => :label
  = f.check_box :active, :class => 'check_box'
.group
  = f.label :department_id, t("personnel.user.department", :default => "Department"), :class => :label
  = f.select :department_id, Department.selection_by_admin(current_admin.id), {}, {:onchange => 'app.check_department_for_identifier()'}
.group
  = f.label :identifier, t("personnel.user.identifier", :default => "IDentifier"), :class => :label
  = f.select :identifier, User.identifier_selection(f.object.identifier), :include_blank => true
  = f.hidden_field :back_url, :value => @back_url
.group
  = f.label :hired_at, t("personnel.user.hired", :default => "Hired"), :class => :label
  = f.text_field :hired_at, :class => 'text_field date_select', :style => "width:160px"
.group
  = f.label :fired_at, t("personnel.user.fired", :default => "Fired"), :class => :label
  = f.check_box :fired, :class => 'check_box', :disabled => true
  = f.text_field :fired_at, :class => 'text_field date_select', :style => "width:160px"
= render 'shared/user_form', :f => f

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + t("web-app-theme.cancel", :default => "Cancel"), @back_url, :class => "button"
%script{:type => "text/javascript"}
  app.check_department_for_identifier()