%br
%div
  = link_to t("web-app-theme.check_all", :default => "Check All"), "#", :id => "check_all"
  |
  = link_to t("web-app-theme.uncheck_all", :default => "Uncheck All"), "#", :id => "uncheck_all"
%div{:class => "flash", :style => 'display:none;'}
  %div{:id => "permissions_flash", :class => "message error"}
%div{:style=>"margin-top:10px", :id => "check_list"}
  = form_for user, :url => update_permissions_admin_user_path(user, :data => 'permissions'), :remote => true, :html => {:class => 'form', 'data-type' => 'script'} do ||
    - for  dp in @department.permissions.order(:name)
      %div
        = check_box_tag "permissions[]", "#{dp.id}", user.permissions.include?(dp)
        = dp.name

    %br
    .group.navform.wat-cf
      %button.button{:type => "submit"}
        = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
        = t("web-app-theme.save", :default => "Save")
      %a.button{:href => 'javascript:void(0);', :data => {'cancel-permissions' => true}}
        = image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")
        = t("web-app-theme.cancel", :default => "Cancel")