.pagination
  - @user.addresses.each do |addr|
    %a{ :href => 'javascript:void(0);', :onclick => "app.showAddTab(#{addr.id})"}
      = @user.addresses.index(addr).next
= link_to image_tag("web-app-theme/icons/application_add.png", :alt => "#{t("web-app-theme.add", :default=> "Add")}") + " " + t("web-app-theme.add", :default=> "Add"),
  new_admin_address_path(:user => @user), :class => "button", :style => "float:right;", 'data-add-address' => new_admin_address_path(:user => @user)

%div{:style => "padding-top:30px;"}
  - @user.addresses.each do |addr|
    %div{:id => "sidebar_address_#{addr.id}", :style => "#{!addr.primary ? 'display:none;' : ''}"}
      = render 'shared/address_show', :addr => addr
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"),
          edit_admin_address_path(addr), :class => "button", 'data-edit-address' => edit_admin_address_path(addr)

        - if !addr.primary
          = link_to image_tag("web-app-theme/icons/application_delete.png", :alt => "#{t("web-app-theme.edit", :default=> "Delete")}") + " " + t("web-app-theme.edit", :default=> "Delete"),
            admin_address_path(addr), :method => :delete, :remote => true, :class => "button"

          = link_to image_tag("web-app-theme/icons/heart.png", :alt => "#{t("web-app-theme.edit", :default=> "Make Primary")}") + " " + t("web-app-theme.edit", :default=> "Make Primary"),
            make_primary_admin_address_path(addr), :remote => true,  :class => "button"
        %a.button{href: 'javascript:void(0);', onclick: "app.display_dialog('/admin/addresses/#{addr.id}/map', 620)"}
          =image_tag("web-app-theme/icons/calendar_edit.png")
          Map
