%p
  - @department.permissions.order(:name).each do |dp|
    %p
      - if @user.permissions.map(&:id).include?(dp.id)
        = image_tag("web-app-theme/icons/accept.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
        %b
          = dp.name
%p
  .wat-cf
    = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"),
      edit_data_admin_user_path(@user, :data => 'permissions'), :class => "button", 'data-edit-permissions' => edit_data_admin_user_path(@user, :data => 'permissions')
