%h2= @user.full_name
.block.notice
  = link_to image_tag(@user.avatar.url(:medium), :alt => "#{t("web-app-theme.crop", :default => "Crop")}"), crop_admin_user_path(@user), :title => "#{t("web-app-theme.crop", :default => "Crop")}"

.block.notice
  %h3= t("personnel.profile.title")
  #sidebar_profile.content
    = render 'show_profile'

.block.notice
  %h3
    Accounts
    %a{:onclick=> '$("#sidebar_permissions").toggle();', :style => 'float:right;cursor:pointer'} show/hide
  #sidebar_permissions.content{:style => 'display:none;'}
    = render 'show_permissions'

.block.notice
  %h3= t("personnel.address.title")
  %div#sidebar_address.content{:style => "margin:10px;"}
    = render 'show_addresses'

.block.notice
  %h3= t("personnel.contact.title")
  #sidebar_contact.content
    = render 'show_contact'
