= form_tag(delivery_admin_users_path, :method => :get) do
  %table{:align => 'center', :width => 120, :style => 'font-size: 9px;text-align: center;'}
    %tr
      %td{:colspan => 3}
        = select_date params[:date], :start_year => 2010, :use_month_numbers => true, :discard_year => true, :order => [:day, :month]
        %button.button{:type => "submit"}
          = t("web-app-theme.ok", :default => "OK")
    %tr
      %td{:colspan => 3}
        Привезти в 00:00
        = render 'shared/delivery', :users => @users_in
    %tr
      %td{:colspan => 3}
        Отвезти в 00:00
        = render 'shared/delivery', :users => @users_out
%center
  = link_to "С адресами", delivery_admin_users_path({:detailed => '1'})
