.block
  .content
    %h2.title
      Fire Reasons
    .inner
      = form_tag(fire_reasons_admin_users_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              &nbsp;
            %td
              = select_tag 'departments[]', options_for_select(Department.selection_by_admin(current_admin.id), params[:departments]),
              { :multiple => true, :size => 5, :style => "font-size:10px" }
            %td
              &nbsp;
            %td
              From
              = text_field_tag 'date_from', params[:date_from], :class => 'datetime_select'
            %td
              &nbsp;
            %td
              To
              = text_field_tag 'date_to', params[:date_to], :class => 'datetime_select'
            %td
              &nbsp;
            %td
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th
            Reason
          %th
            Count
        - @users.each do |line|
          %tr
            %td
              = line.fire_reason.name
            %td
              = line.total
