.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_users_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_user_path
      %li{:style => 'float:right'}= link_to "#{t("web-app-theme.new", :default => "Delivery List")}", delivery_admin_users_path
      %li{:style => 'float:right'}= link_to "#{t("web-app-theme.new", :default => "Print List")}", list_admin_users_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Users
    .inner
      = form_tag(admin_users_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              By ID
              = text_field_tag :identifier, params[:identifier], :class => 'text_field', :style => "width:80px"
            %td
              &nbsp;
            %td
              Full Name
              = text_field_tag :full_name, params[:full_name], :class => 'text_field'
            %td
              &nbsp;
            %td
              Department
              = select_tag :department_id, options_for_select(Department.selection_by_admin(current_admin.id), params[:department_id]), { :include_blank => true }
            %td
              &nbsp;
            %td
              Active Only
              = check_box_tag :active, 1, params[:active]
            %td
              &nbsp;
            %td
              Presently Employed
              = check_box_tag :employed, 1, params[:employed]
            %td
              &nbsp;
            %td
              per page
              = text_field_tag 'per_page', params[:per_page], :style => "width:30px"
            %td
              &nbsp;
            %td
              = hidden_field_tag 'sort_by', params[:sort_by]
              = hidden_field_tag 'sort_order', params[:sort_order]
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                = t("web-app-theme.find", :default => "Find")
      %table.table
        %tr
          %th
          %th{:sort => 'active', :class => 'sortable'}= t("activerecord.attributes.user.active", :default => t("activerecord.labels.active", :default => "Active"))
          %th{:sort => 'identifier', :class => 'sortable'}= t("activerecord.attributes.user.identifier", :default => t("activerecord.labels.identifier", :default => "IDentifier"))
          %th{:sort => 'full_name', :class => 'sortable'}= t("activerecord.attributes.user.full_name", :default => t("activerecord.labels.full_name", :default => "Full Name"))
          %th= t("activerecord.attributes.contact.cell1", :default => t("activerecord.labels.cell1", :default => "Cell"))
          %th= t("activerecord.attributes.contact.home_phone", :default => t("activerecord.labels.home_phone", :default => "Home Phone"))
          %th= t("activerecord.attributes.user.department_id", :default => t("activerecord.labels.department", :default => "Department"))
          %th= t("activerecord.attributes.user.address", :default => t("activerecord.labels.address", :default => "Address"))
          %th= t("activerecord.attributes.profile.birthdate", :default => t("activerecord.labels.birthdate", :default => "BirthDate"))
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              = image_tag user.avatar.url(:thumb)
            %td
              - if user.active?
                &#10003;
            %td= user.identifier
            %td= user.full_name
            %td
              = user.cell1
              %br
              = user.cell2
              %br
              = user.cell3
            %td= user.home_phone
            %td= user.department_name if user.department_id
            %td= user.full_address_admin
            %td= l(user.birthdate) if user.birthdate
            %td.last
              \#{link_to "#{t("web-app-theme.edit", :default => "Logs")}", admin_logs_path(:subject_type => 'User', :subject_id => user.id)}
              |
              %a{:href => admin_user_path(user), :data => {'load-user' => admin_user_path(user)}}= t("web-app-theme.show", :default => "Show")
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_user_path(user)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @users
- content_for :sidebar, render(:partial => 'sidebar')
