.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_users_path
      %li= link_to "#{t("personnel.user.t-shirts", :default => "T-Shirts")}", t_shirts_admin_users_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_user_path
      %li{:style => 'float:right'}= link_to "Birthdays", admin_birthdays_path, :target => "blank"
      %li{:style => 'float:right'}= link_to "#{t("personnel.user.delivery-list", :default => "Delivery List")}", delivery_admin_users_path, :target => "blank"
      %li{:style => 'float:right'}= link_to "#{t("web-app-theme.print", :default => "Print List")}", list_admin_users_path, :target => "blank"
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      = @users.total_entries
      = t("personnel.user.title", :default => "Users")
    .inner
      = form_tag(admin_users_path, :method => :get, :id => 'find_form') do
        %table
          %tr
            %td
              ID
              %br/
              = text_field_tag :identifier, params[:identifier], :class => 'text_field', :style => "width:30px"
            %td{style: "width:150px"}
              = t("personnel.user.full_name", :default => "Full Name")
              %br/
              = text_field_tag :full_name, params[:full_name], :class => 'text_field'
            %td{style: "width:150px"}
              = t("personnel.user.department", :default => "Department")
              %br/
              = select_tag :department_id, options_for_select(Department.selection_by_admin(current_admin.id), params[:department_id]), { :include_blank => true }
            %td
              Vehicle
              %br/
              = select_tag :vehicle_type, options_for_select(UserVehicle.selection, params[:vehicle_type]), {:include_blank => true}
              = text_field_tag :reg_number, params[:reg_number], :style => "width:50px"
            %td
              = t("personnel.user.active-only", :default => "Active Only")
              %br/
              = check_box_tag :active, 1, params[:active]
            %td
              = t("personnel.user.presently-employed", :default => "Pres. Employed")
              %br/
              = check_box_tag :employed, 1, params[:employed]
            %td
              = t("web-app-theme.per page", :default => "per page")
              %br/
              = text_field_tag 'per_page', params[:per_page], :style => "width:30px"
            %td
              = hidden_field_tag 'sort_by', params[:sort_by]
              = hidden_field_tag 'sort_order', params[:sort_order]
              %button.button{:type => "submit"}
                = image_tag("web-app-theme/icons/find.png", :alt => "#{t("web-app-theme.find", :default => "Find")}")
                -#= t("web-app-theme.find", :default => "Find")
              %button.button{:type => "submit", :name => "export", :value => "export"}
                = image_tag("web-app-theme/icons/table_go.png", :alt => "#{t("web-app-theme.export", :default => "Export")}")
                -#= t("web-app-theme.export", :default => "Export")
      %table.table
        %tr
          %th
          %th{:sort => 'active', :class => 'sortable'}= t("personnel.user.active", :default => "Active")
          %th{:sort => 'identifier', :class => 'sortable'}= t("personnel.user.identifier", :default => "IDentifier")
          %th{:sort => 'full_name', :class => 'sortable'}= t("personnel.user.full_name", :default => "Full Name")
          %th= t("personnel.user.team_lead", :default => "Team Lead")
          %th= t("personnel.contact.cell", :default => "Cell")
          %th= t("personnel.contact.home_phone", :default => "Home Phone")
          %th= t("personnel.user.department", :default => "Department")
          %th= t("personnel.address.title", :default => "Address")
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              = image_tag user.avatar.url(:thumb), style:"width:50px"
            %td
              - if user.active?
                &#10003;
            %td= user.identifier
            %td= user.full_name
            %td
              - if user.team_lead?
                &#10003;
            %td
              = user.cell1
              %br
              = user.cell2
              %br
              = user.cell3
            %td= user.home_phone
            %td= user.department_name if user.department_id
            %td= user.full_address_admin
            %td.last
              \#{link_to "#{t("web-app-theme.logs", :default => "Logs")}", admin_logs_path(:subject_type => 'User', :subject_id => user.id)}
              |
              %a{:href => admin_user_path(user), :data => {'load-user' => admin_user_path(user)}}= t("web-app-theme.show", :default => "Show")
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_user_path(user)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure you would like to delete #{user.name} user?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @users
- content_for :sidebar, render(:partial => 'sidebar')
