%table
  %tr
    %th= t("activerecord.attributes.user.identifier", :default => t("activerecord.labels.identifier", :default => "ID"))
    %th= t("activerecord.attributes.contact.cell1", :default => t("activerecord.labels.cell1", :default => "Cell"))
    %th= t("activerecord.attributes.user.full_name", :default => t("activerecord.labels.full_name", :default => "Full Name"))
    %th= t("activerecord.attributes.user.address", :default => t("activerecord.labels.address", :default => "Address"))
    - @users.each do |user|
      %tr{:class => cycle("odd", "even")}
        %td= user.identifier
        %td
          = user.cell1
          %br
          = user.cell2
          %br
          = user.cell3
        %td= user.full_name
        %td= user.full_address_admin
