.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_users_path
      %li.active= link_to "#{t("personnel.user.t-shirts", :default => "T-Shirts")}", t_shirts_admin_users_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_user_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      = t("personnel.user.t-shirts", :default => "T-Shirts")
    .inner
      %table.table
        - department = ''
        - @users.each do |user|
          - if department != user.name
            - department = user.name
            %tr
              %td{:colspan => 6}
                %h3= department
            %tr
              %th
                = t("personnel.user.t-shirt-size", :default => "Size")
              %th
                = t("personnel.user.level", :default => "Level")
              %th
                = t("web-app-theme.count", :default => "Count")
          %tr{:class => cycle("odd", "even")}
            %td
              = user.t_shirt_size
            %td
              = user.level
            %td
              = user.total
- content_for :sidebar, render(:partial => 'sidebar')
