.block
  .content
    %div{:style => "float:left"}
      %h2.title
        = t("personnel.user.birthdays", :default => "Birthdays")
  .inner
    - if @result
      %table.table
        %tr
          %th
          %th= t("personnel.user.identifier", :default => "IDentifier")
          %th= t("personnel.user.full_name", :default => "Full Name")
          %th= t("personnel.user.department", :default => "Department")
          %th= t("personnel.profile.birthdate", :default => "BirthDate")
        - @result.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              = image_tag user.avatar.url(:thumb)
            %td= user.identifier
            %td= user.full_name
            %td= user.department_name if user.department_id
            %td= user.birth_day_and_month.to_formatted_s(:date_only)
