!!!
%html
  %head
    %title Personnel Administration
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", "web-app-theme/jquery-ui-1.8.15.custom", :cache => true
    = javascript_include_tag :defaults, 'jscolor', 'jquery-ui-1.8.15.custom.min', 'jquery-ui-timepicker-addon', :cache => true
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Personnel Administration
        #user-navigation
          %ul.wat-cf
            %li
              %strong= Admin.find(current_admin.id).email unless current_admin.nil?
            %li= link_to t("web-app-theme.logout", :default => "Logout"), destroy_admin_session_path, :class => 'logout'
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'admin/admins' ? 'active' : '' }
              %a{:href => admin_admins_path} Admins
            %li{:class => controller.controller_path == 'admin/departments' ? 'active' : '' }
              %a{:href => admin_departments_path} Departments
            %li{:class => controller.controller_path == 'admin/categories' ? 'active' : '' }
              %a{:href => admin_categories_path} Categories
            %li{:class => controller.controller_path == 'admin/users' ? 'active' : '' }
              %a{:href => admin_users_path} All Personnel
            %li{:class => controller.controller_path == 'admin/schedule_statuses' ? 'active' : '' }
              %a{:href => admin_schedule_statuses_path} Schedule Statuses
            %li{:class => controller.controller_path == 'admin/schedules' ? 'active' : '' }
              %a{:href => admin_schedule_path} Schedule
            %li{:class => controller.controller_path == 'admin/shifts' ? 'active' : '' }
              %a{:href => admin_shifts_path} Shifts
            %li{:class => controller.controller_path == 'admin/events' ? 'active' : '' }
              %a{:href => admin_events_path} Events
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Personnel Administration.
        #sidebar
          = yield :sidebar
  :javascript
    app.init()