!!!
%html
  %head
    %title Personnel
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", :cache => true
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Personnel
        #user-navigation
          %ul.wat-cf
            %li
              %strong= User.find(current_user.id).full_name if current_user.id?
            %li
              = link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :class => 'logout'
        #main-navigation
          %ul.wat-cf
            %li{:class => (params[:controller] == "home" ? "first active" : "first")}= link_to "Profile", user_path
            %li= link_to t("personnel.list", :default => "Find"), find_user_path
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Personnel.
        #sidebar
          = yield :sidebar
  :javascript
    app.init()
