!!!
%html
  %head
    %title Zone3000 Staff
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", "web-app-theme/jquery-ui-1.8.15.custom", "web-app-theme/jquery.Jcrop", :cache => 'user'
    = javascript_include_tag :defaults, 'jscolor', 'jquery-ui-1.8.15.custom.min', 'jquery-ui-timepicker-addon', 'jquery.Jcrop.min', :cache => 'user'
    %script{:type => "text/javascript", :src => 'http://maps.googleapis.com/maps/api/js?key=AIzaSyB_oxPL_GF8IVWahj2V0eVcVNMJKkMczHk&sensor=false'}
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Zone3000 Staff
          = image_tag(User.find(current_user.id).avatar.url(:thumb), :style => 'float:right;padding-right:13px')
        #user-navigation
          %ul.wat-cf
            %li
              %strong= User.find(current_user.id).full_name if current_user.id?
            %li
              = link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :class => 'logout'
        #main-navigation
          %ul.wat-cf.dropdown
            %li{:class => (params[:controller] == "home" ? "first active" : "first")}= link_to t("personnel.profile.title", :default => "Profile"), user_path
            %li= link_to t("personnel.user.crop_picture", :default => "Crop Picture"), crop_user_path
            %li= link_to t("personnel.user.find_people", :default => "Find People"), find_user_path
            %li= link_to t("personnel.user.birthdays", :default => "Birthdays"), birthdays_path
            %li
              = link_to t("personnel.schedule.title", :default => "Schedule"), schedule_path
              - if current_user.can_edit_schedule > 0
                %ul
                  %li
                    %a{:href => edit_schedule_path} Edit Your Schedule
            - if current_user.identifier?
              %li= link_to t("personnel.timereport", :default => "TimeReport"), events_path
              %li= link_to t("personnel.late_coming.title", :default => "Late Coming"), late_comings_path
              %li{:class => ((controller.controller_path == 'events' && controller.action_name != 'index')) ? 'active' : '' }
                %a{:href => '#'} Reports
                %ul
                  %li
                    %a{:href => processed_by_person_events_path} Processed: By Person
                  %li
                    %a{:href => vacations_events_path} Vacations


      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Zone3000 Staff.
        #sidebar
          = yield :sidebar
  :javascript
    app.init()
    current_user = '#{current_user.identifier}'
